nav a {
  color: #ede68a; }

.jumbotron {
  background-color: #0d0d0e; }
  .jumbotron .search-field {
    background: black;
    color: white;
    outline: none; }
    .jumbotron .search-field:focus {
      outline: none;
      box-shadow: none;
      border-color: #ede68a; }
    .jumbotron .search-field:placeholder {
      color: rgba(255, 255, 255, 0.4); }
  .jumbotron .btn[type="submit"] {
    background: #b0a565;
    color: #0d0d0e; }
  .jumbotron .form-control {
    border-radius: 0px; }
  .jumbotron .btn {
    border-radius: 0px; }

.dropdown-menu {
  background-color: black; }
  .dropdown-menu a {
    color: white; }

.hp {
  background: #0d0d0e;
  color: white; }

.schedule-carousel .carousel-cell {
  border: 1px solid rgba(255, 255, 255, 0.07) !important;
  height: 100px; }

.schedule-carousel .carousel-cell.is-selected {
  background: rgba(255, 255, 255, 0.05); }

.schedule-carousel img {
  width: 50px; }

.home-media {
  max-width: 1200px; }

.standings {
  background: #0d0d0e; }
