#scheduleTable{
    td{
        align-content:center;
        vertical-align:middle;
        // display: flex;
        p{
            display:inline-block;
            margin: 10px 0 0 10px;
        }
    }
    img{
        width:50px;
        float:left;
    }
}